
<div class="row">
    <div class="col-12 col-md-8">
        <div class="card card-primary review-card">
            <div class="card-block">
                <h2>{{movie.name}}</h2>
                <img src="{{movie.image}}"/>
                <p class="col-md-8">{{movie.description}}</p>
                <h2 class="card-title">Customer reviews</h2>
                <div class="row review">
                    <div class="col-12 no-gutters review-header">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <span class="reviewAuthor">Simon Holmes</span>
                        <small class="reviewTimestamp">16 February 2017</small>
                    </div>
                    <div class="col-12">
                        <p>Great movie, well worth the watch.</p>
                    </div>
                </div>
                <div class="row review">
                    <div class="col-12 no-gutters review-header">
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </span>
                        <span class="reviewAuthor">Charlie Chaplin</span>
                        <small class="reviewTimestamp">14 February 2017</small>
                    </div>
                    <div class="col-12">
                        <p>Good Movie, ending was confussing in some parts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
